body {
    background-color: black;
    margin: 0;
    padding: 0;
}

div#SDK_cadre {
    position: relative;
    width: 100%;
    margin: auto;
    font: 12px verdana, arial, sans-serif;
    background-color :black !important;
}

div#SDK_grille {
    float: left;
}

    div#SDK_grille table {
        padding: 0;
        border: outset 1px black;
        background-color: black;
    }

    div#SDK_grille td.region table {
        padding: 0;
        border: outset 1px black;
        background-color: black;
    }

        div#SDK_grille td.region table td {
            padding: 0;
            border: inset 1px white;
            width: 7vh;
            height: 7vh;
            text-align: center;
            font: bold 20px verdana, arial, sans-serif;
            cursor: crosshair;
        }

    div#SDK_grille td.case0 {
        color: black;
        background-color: #cfcfcf;
    }

    div#SDK_grille td.case1 span {
        display: block;
        margin: 0;
        width: 100%;
        height: 28px;
        background-color: black;
    }

        div#SDK_grille td.case1 span.c1 {
            color: blue;
        }

        div#SDK_grille td.case1 span.c2 {
            color: red;
        }

        div#SDK_grille td.case1 span.c3 {
            color: green;
        }

/* style du menu vertical  ( division #SDK_menuV ) */
div#SDK_menuV {
    float: right;
    position: relative;
    border: outset 3px;
    width: 104px;
    height: 298px;
}

* html div#SDK_menuV {
    width: 100px;
    height: 304px;
    text-align: center;
}

    div#SDK_menuV input.menu {
        display: block;
        margin: 0 auto 0 auto;
        padding: 0;
        width: 100px;
        font-size: 15px;
        cursor: pointer;
    }

div#SDK_status {
    position: absolute;
    bottom: 70px;
    right: 20px;
    border: inset 2px;
    width: 56px;
    height: 21px;
    text-align: center;
    vertical-align: middle;
    font: bold 15px arial, sans-serif;
    color: white;
}

* html div#SDK_status {
    width: 60px;
    height: 25px;
}

    div#SDK_status span.fin {
        display: block;
        width: 100%;
        height: 100%;
        color: red;
        background-color: yellow;
    }

div#SDK_chrono {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: inset 2px;
    width: 56px;
    height: 21px;
    text-align: center;
    vertical-align: middle;
    font: bold 15px arial, sans-serif;
    color: white;
}

* html div#SDK_chrono {
    width: 60px;
    height: 25px;
}

/* style du menu horizontal ( division #SDK_menuH ) */
div#SDK_menuH {
    position: relative;
    clear: both;
    margin-left: 2px;
    margin-right: 2px;
}

    div#SDK_menuH fieldset {
        height: 42px;
    }

html div#SDK_menuH fieldset {
    position: relative;
    height: 60px;
}

div#SDK_menuH fieldset legend {
    color: white;
}

div#SDK_menuH input {
    padding: 0;
    width: 25px;
    font-weight: bold;
    font-size: 14px;
    color: navy;
    cursor: pointer;
}

    div#SDK_menuH input.gomme {
        width: 40px
    }

div#SDK_chx {
    position: absolute;
    top: 20px;
    right: 15px;
    border: inset 2px;
    width: 80px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

html div#SDK_chx {
    top: 20px;
    right: 15px;
    width: 80px;
    height: 25px;
    vertical-align: middle;
}

div#SDK_chx span.gomme {
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
}

div#SDK_chx span.joker {
    text-align: center;
    font-size: 20px;
    color: green;
    vertical-align: middle;
}

/* styles additionnels */
body {
    margin: 0;
    background-color: black;
}

div#SDK_cadre {
    margin: auto;
    background-color: white;
}

div#SDK_grille td {
    color: black;
}

    div#SDK_grille td.case0 {
        background-color: rgb(75, 75, 75);
        color: white;
    }

    div#SDK_grille td.region table td:hover {
        background-color: #e0e0e0;
        color: black;
    }

div#SDK_menuH input:hover {
    background-color: #e0e0e0;
}

div#SDK_menuV input:hover {
    background-color: #e0e0e0;
}
